<div>
        <h1>
                <ng-container *ngIf="whiteTurn; else elseTemplate">
                        White's
                </ng-container>
                <ng-template #elseTemplate>
                        Black's
                </ng-template>turn
        </h1>
</div>

<div class="a">
        <p>
                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[0][1]}"
                        (click)="this.boardClick(0, 1)">
                        <img src="{{this.pieceImg(board[0][1])}}" />
                </button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[0][3]}"
                        (click)="this.boardClick(0, 3)">
                        <img src="{{this.pieceImg(board[0][3])}}" />
                </button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[0][5]}"
                        (click)="this.boardClick(0, 5)"><img src="{{this.pieceImg(board[0][5])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[0][7]}"
                        (click)="this.boardClick(0, 7)"><img src="{{this.pieceImg(board[0][7])}}" /></button>
        </p>
        <p>
                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[1][0]}"
                        (click)="this.boardClick(1, 0)"><img src="{{this.pieceImg(board[1][0])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[1][2]}"
                        (click)="this.boardClick(1, 2)"><img src="{{this.pieceImg(board[1][2])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[1][4]}"
                        (click)="this.boardClick(1, 4)"><img src="{{this.pieceImg(board[1][4])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[1][6]}"
                        (click)="this.boardClick(1, 6)"><img src="{{this.pieceImg(board[1][6])}}" /></button>

                <button type="button" class="mybotton_white"></button>

        </p>
        <p>
                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[2][1]}"
                        (click)="this.boardClick(2, 1)"><img src="{{this.pieceImg(board[2][1])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[2][3]}"
                        (click)="this.boardClick(2, 3)"><img src="{{this.pieceImg(board[2][3])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[2][5]}"
                        (click)="this.boardClick(2, 5)"><img src="{{this.pieceImg(board[2][5])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[2][5]}"
                        (click)="this.boardClick(2, 7)"><img src="{{this.pieceImg(board[2][7])}}" /></button>
        </p>
        <p>
                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[3][0]}"
                        (click)="this.boardClick(3, 0)"><img src="{{this.pieceImg(board[3][0])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[3][2]}"
                        (click)="this.boardClick(3, 2)"><img src="{{this.pieceImg(board[3][2])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[3][4]}"
                        (click)="this.boardClick(3, 4)"><img src="{{this.pieceImg(board[3][4])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[3][6]}"
                        (click)="this.boardClick(3, 6)"><img src="{{this.pieceImg(board[3][6])}}" /></button>

                <button type="button" class="mybotton_white"></button>

        </p>
        <p>
                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[4][1]}"
                        (click)="this.boardClick(4, 1)"><img src="{{this.pieceImg(board[4][1])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[4][3]}"
                        (click)="this.boardClick(4, 3)"><img src="{{this.pieceImg(board[4][3])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[4][5]}"
                        (click)="this.boardClick(4, 5)"><img src="{{this.pieceImg(board[4][5])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[4][7]}"
                        (click)="this.boardClick(4, 7)"><img src="{{this.pieceImg(board[4][7])}}" /></button>
        </p>
        <p>
                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[5][0]}"
                        (click)="this.boardClick(5, 0)"><img src="{{this.pieceImg(board[5][0])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[5][2]}"
                        (click)="this.boardClick(5, 2)"><img src="{{this.pieceImg(board[5][2])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[5][4]}"
                        (click)="this.boardClick(5, 4)"><img src="{{this.pieceImg(board[5][4])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[5][6]}"
                        (click)="this.boardClick(5, 6)"><img src="{{this.pieceImg(board[5][6])}}" /></button>

                <button type="button" class="mybotton_white"></button>

        </p>
        <p>
                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[6][1]}"
                        (click)="this.boardClick(6, 1)"><img src="{{this.pieceImg(board[6][1])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[6][3]}"
                        (click)="this.boardClick(6, 3)"><img src="{{this.pieceImg(board[6][3])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[6][5]}"
                        (click)="this.boardClick(6, 5)"><img src="{{this.pieceImg(board[6][5])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[6][7]}"
                        (click)="this.boardClick(6, 7)"><img src="{{this.pieceImg(board[6][7])}}" /></button>
        </p>
        <p>
                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[7][0]}"
                        (click)="this.boardClick(7, 0)"><img src="{{this.pieceImg(board[7][0])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[7][2]}"
                        (click)="this.boardClick(7, 2)"><img src="{{this.pieceImg(board[7][2])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[7][4]}"
                        (click)="this.boardClick(7, 4)"><img src="{{this.pieceImg(board[7][4])}}" /></button>

                <button type="button" class="mybotton_white"></button>

                <button type="button" class="mybotton_black" [ngClass]="{'glowing':glow[7][6]}"
                        (click)="this.boardClick(7, 6)"><img src="{{this.pieceImg(board[7][6])}}" /></button>

                <button type="button" class="mybotton_white"></button>

        </p>
</div>

<div>
        <button type="button" class="xobtn" (click)="this.ngOnInit();">restart game</button>
</div>